@@ -3,10 +3,10 @@
    padding: 0;
}
body{
    font-family: 'Belanosima', sans-serif;
    font-family: 'Agdasima', sans-serif;
}
.cabeçalho {
    background-color: blueviolet;
    background-color: rgb(43, 55, 226);
    color:white;
    display: flex;
    justify-content: space-around;
@@ -24,10 +24,10 @@ body{
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
    width: 20%;
}
.escola{
    background-image: linear-gradient( blueviolet, blueviolet);
    background-image: linear-gradient( rgb(43, 55, 226), rgb(43, 55, 226));
    color:white;
    display: flex;
    justify-content: center;